@charset "UTF-8";
img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.header {
  grid-area: header;
  background-color: #84A59D;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.header .header__logo {
  width: 110px;
  padding: 6px;
}

nav {
  grid-area: nav;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F28482;
}
nav ul li {
  padding: 10px;
}
nav ul .link {
  text-decoration: none;
  margin: 10px;
  padding: 8px;
  color: #f6efe7;
  border-radius: 5px;
}
nav ul .link:hover {
  background-color: #bfd7b3;
  color: #3d6c60;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

.navpag {
  background-color: #84A59D;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.navpag .navi {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navpag .navi li {
  padding: 10px;
}
.navpag .navi .linkdark {
  text-decoration: none;
  margin: 10px;
  padding: 8px;
  color: #f6efe7;
  font-weight: 700;
  font-size: x-large;
  border-radius: 5px;
}
.navpag .navi .icon {
  height: 50px;
  padding: 2px;
}
.navpag .navi .linkpag {
  text-decoration: none;
  margin: 10px;
  padding: 8px;
  color: #f6efe7;
  border-radius: 5px;
}
.navpag .navi .linkpag:hover {
  background-color: #bfd7b3;
  color: #3d6c60;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5px;
  background-color: #84A59D;
  color: #F7EDE2;
  align-items: center;
}
footer .footer {
  text-decoration: none;
  margin: 10px;
  border-radius: 8px;
  color: #3d6c60;
  background-color: #bfd7b3;
  padding: 10px;
}
footer .logofooter {
  max-width: 6%;
  margin: 10px;
}

body {
  background-color: #F7EDE2;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
}
body .gridcontainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 0.3fr auto auto 1fr;
  grid-template-areas: "header header" "nav nav" "fotofondo fotofondo" "actividades actividades" "footer footer";
  align-items: center;
}
body .gridcontainer div {
  margin: 15px;
  justify-items: center;
}
body .gridcontainer .fotofondo {
  height: 500px;
  background-image: url(../images/dietasaludable.jpeg);
  background-position: center;
  grid-area: fotofondo;
}
body .gridcontainer .fotofondo .contenido-fotofondo {
  width: 98%;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 5px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}
body .gridcontainer .fotofondo .contenido-fotofondo .colorblanco {
  font-family: "Roboto Serif", serif;
  color: antiquewhite;
  font-size: 27px;
  font-weight: 300;
  font-style: italic;
}
body .gridcontainer .actividades {
  grid-area: actividades;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #4b4e4e;
}
body .gridcontainer .actividades .imagenesconectadas {
  margin: 0 20px 20px 20px;
}
body .gridcontainer .actividades .imagenesconectadas .img {
  border-radius: 10px;
  padding-bottom: 10px;
}
body .gridcontainer .actividades .imagenesconectadas .textoimagen {
  width: 400px;
  margin: 10px 0;
}
body .gridcontainer .actividades .imagenesconectadas div {
  margin: 25px 0 15px 0;
}
body .gridcontainer .actividades .imagenesconectadas div .comments {
  text-decoration: none;
  border-radius: 6px;
  color: #F28482;
  overflow: hidden;
  padding: 8px;
  border-style: solid;
}
body .gridcontainer .actividades .imagenesconectadas div .comments:hover {
  background-color: #F28482;
  padding: 8px;
  color: #eee0e0;
}

.fotoaliment {
  height: 300px;
  background-image: url(../images/saludable.jpg);
  background-position: center;
  grid-area: fotofondo;
}
.fotoaliment .contenido-fotofondoaliment {
  width: 95%;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 5px;
  text-align: center;
  padding: 50px 0;
  margin: 5px auto;
  position: relative;
  top: 70px;
}
.fotoaliment .contenido-fotofondoaliment .colorblanco {
  font-family: "Roboto Serif", serif;
  padding: 5px;
  font-style: italic;
  color: antiquewhite;
  font-size: 27px;
  font-weight: 300;
}

.gallerycontainer {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px 10px;
  grid-template-areas: "imagenuno imagenuno imagenuno imagenuno imagendos" "imagentres imagentres imagenseis imagencinco imagencinco" "imagentres imagentres imagenseis imagencuatro imagencuatro";
  justify-content: center;
  padding: 10px;
}
.gallerycontainer .imagenuno {
  grid-area: imagenuno;
  background-image: url(../images/verduras.jpg);
  background-position: center;
  background-size: cover;
}
.gallerycontainer .imagendos {
  grid-area: imagendos;
  background-image: url(../images/carnes.jpg);
  background-position: center;
}
.gallerycontainer .imagentres {
  grid-area: imagentres;
  background-image: url(../images/lacteos.jpg);
  background-position: center;
}
.gallerycontainer .imagencuatro {
  grid-area: imagencuatro;
  background-image: url(../images/frutossecos.jpeg);
  background-position: center;
}
.gallerycontainer .imagencinco {
  grid-area: imagencinco;
  background-image: url(../images/legumbres.jpg);
  background-position: fill;
}
.gallerycontainer .imagenseis {
  grid-area: imagenseis;
  background-image: url(../images/healthyperson.webp);
  background-position: center;
}

.contenidopagina {
  text-align: justify;
  margin: 20px;
  color: #F28482;
  font-weight: 400;
  font-size: 20px;
  width: 95%;
}
.contenidopagina .str {
  font-weight: 700;
  font-style: italic;
}

.imagenestexto {
  width: 90%;
  margin-left: 50px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.imagenestexto img {
  width: 300px;
  border: 2px solid rgb(194, 193, 193);
  border-radius: 5px;
}

.encabezado__titulo {
  width: 100%;
}

.principal {
  font-family: "Roboto Serif", serif;
  font-style: italic;
  color: #F28482;
  font-size: 25px;
}

.row {
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row .carouselExampleAutoplaying {
  width: 85%;
}
.row .card {
  background-color: #f6efe7;
  border: none;
  width: 18rem;
  margin: 20px;
}
.row .card .card-title {
  color: dimgray;
}
.row .card .card-img-top {
  border-radius: 150px;
  border: 1px solid rgb(211, 208, 208);
}
.row .card .card-text {
  font-family: "Roboto Serif", serif;
  font-style: italic;
  font-weight: 300;
}
.row .card img {
  padding: 8px;
}
.row .card .btn {
  border: 1.5px solid #ccc5b9;
  height: 240px;
  font-family: "Roboto Serif", serif;
  font-style: italic;
  font-weight: 300;
  background-color: #ffffff;
  color: #9d8189;
}
.row .btn2 {
  width: 100%;
  background-color: #F28482;
  margin-bottom: 10px;
}
.row .btn2 a {
  font-family: "Roboto Serif", serif;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  color: #f6efe7;
}

.contactoimg {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contactoimg img {
  border-radius: 10px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.contactoimg img:hover {
  transform: scale(1.08, 1.08);
}

.form-control {
  color: #F28482;
}

.img-fluid {
  margin: 20px;
  height: 270px;
  object-fit: contain;
}

.img-fluidno {
  margin: 20px;
  height: 270px;
  object-fit: contain;
}

.col-md-6 {
  width: 100%;
}

.row {
  width: 100%;
}
.row .col-form-label {
  margin: 30px 0;
  color: dimgrey;
}
.row .form-check-input {
  background-color: #84A59D;
  border: 3px #24302d;
}

.btn {
  margin-bottom: 10px;
  background-color: #84A59D;
  color: antiquewhite;
  border: #24302d;
}

.alert {
  margin: 15px;
  padding: 20px;
  color: antiquewhite;
  background-color: #F28482;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.header {
  grid-area: header;
  background-color: #84A59D;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.header .header__logo {
  width: 110px;
  padding: 6px;
}

nav {
  grid-area: nav;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F28482;
}
nav ul li {
  padding: 10px;
}
nav ul .link {
  text-decoration: none;
  margin: 10px;
  padding: 8px;
  color: #f6efe7;
  border-radius: 5px;
}
nav ul .link:hover {
  background-color: #bfd7b3;
  color: #3d6c60;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

.navpag {
  background-color: #84A59D;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.navpag .navi {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navpag .navi li {
  padding: 10px;
}
.navpag .navi .linkdark {
  text-decoration: none;
  margin: 10px;
  padding: 8px;
  color: #f6efe7;
  font-weight: 700;
  font-size: x-large;
  border-radius: 5px;
}
.navpag .navi .icon {
  height: 50px;
  padding: 2px;
}
.navpag .navi .linkpag {
  text-decoration: none;
  margin: 10px;
  padding: 8px;
  color: #f6efe7;
  border-radius: 5px;
}
.navpag .navi .linkpag:hover {
  background-color: #bfd7b3;
  color: #3d6c60;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5px;
  background-color: #84A59D;
  color: #F7EDE2;
  align-items: center;
}
footer .footer {
  text-decoration: none;
  margin: 10px;
  border-radius: 8px;
  color: #3d6c60;
  background-color: #bfd7b3;
  padding: 10px;
}
footer .logofooter {
  max-width: 6%;
  margin: 10px;
}

ol, ul {
  padding-left: 0;
}

.carousel {
  margin: 10px;
}

.tips {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tips .card {
  margin: 20px;
  padding: 10px;
  width: 28rem;
  height: auto;
}
.tips .card .card-title {
  font-size: 25px;
  color: #4b4e4e;
}
.tips .card .linkcomentarios {
  text-decoration: none;
  color: #F28482;
}

ol, ul {
  padding-left: 0;
}

.row > * {
  width: 75%;
}

.tips {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tips .card {
  margin: 20px;
  padding: 10px;
  width: 28rem;
  height: auto;
}
.tips .card .card-title {
  font-size: 25px;
  color: #4b4e4e;
}
.tips .card .linkcomentarios {
  text-decoration: none;
  color: #F28482;
}

/* TamaÃ±o mobile 480px */
@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header .logo {
    width: 80px;
    padding: 2px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  body {
    font-size: 1rem;
  }
  body .gridcontainer .fotofondo {
    height: 200px;
  }
  body .gridcontainer .fotofondo .contenido-fotofondo {
    width: 90%;
    padding: 8px;
    top: 60px;
  }
  body .gridcontainer .fotofondo .contenido-fotofondo .colorblanco {
    font-weight: 300;
    font-size: 18px;
  }
  body .gridcontainer .actividades .imagenesconectadas .textoimagen {
    width: 90vw;
  }
  .navpag .navi {
    flex-direction: column;
    align-items: center;
  }
  footer {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  footer img {
    display: none;
  }
  .principal {
    font-size: 20px;
  }
  .principal p {
    width: 100%;
  }
  .navbar-brand {
    width: 120px;
  }
  .gallerycontainer {
    display: grid;
    grid-template-columns: 1.1fr;
    grid-template-rows: repeat(6, 200px);
    gap: 10px 5px;
    grid-template-areas: "imagenuno" "imagendos" "imagenseis" "imagencuatro" "imagencinco" "imagentres";
    justify-content: center;
    padding: 15px;
  }
  .gallerycontainer .imagenuno {
    background-size: fill;
  }
  .gallerycontainer .imagendos {
    background-size: contain;
  }
  .gallerycontainer .imagentres {
    background-size: cover;
  }
  .gallerycontainer .imagencuatro {
    background-size: cover;
  }
  .gallerycontainer .imagencinco {
    background-size: cover;
  }
  .gallerycontainer .imagenseis {
    background-size: cover;
  }
  .contenidopagina {
    text-align: start;
    font-size: 15px;
    margin: 15px;
  }
  .contenidopagina ul {
    margin-left: 0px;
  }
  .imagenestexto {
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 0;
  }
  .imagenestexto .nosemuestrachico {
    display: none;
  }
  .fotoaliment {
    height: 200px;
  }
  .fotoaliment .contenido-fotofondoaliment {
    width: 90%;
    padding: 8px;
    top: 60px;
  }
  .fotoaliment .contenido-fotofondoaliment .colorblanco {
    font-weight: 100;
    font-size: 18px;
  }
  .carousel {
    align-items: center;
  }
  .tips {
    margin: 0;
    width: 100%;
    display: block;
  }
  .tips .card {
    padding: 0;
    width: auto;
    height: auto;
  }
  .tips .card .card-title {
    font-size: 25px;
  }
  .row > * {
    width: 100%;
  }
  .contactoimg {
    width: 100%;
    text-align: center;
  }
  .img-fluid {
    height: auto;
    width: 270px;
  }
  .img-fluidno {
    display: none;
  }
}
/* TamaÃ±o mobile 768px */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
  body .gridcontainer div {
    margin: 15px;
  }
  body .gridcontainer .header .header__logo {
    width: 90px;
  }
  body .gridcontainer .fotofondo {
    height: 270px;
  }
  body .gridcontainer .fotofondo .contenido-fotofondo {
    top: 100px;
    padding: 20px 0;
  }
  body .gridcontainer .fotofondo .contenido-fotofondo .colorblanco {
    font-size: 20px;
  }
  body .gridcontainer .actividades .imagenesconectadas {
    margin: 5px 5px;
  }
  body .gridcontainer .actividades .imagenesconectadas .img {
    max-width: 250px;
  }
  body .gridcontainer .actividades .imagenesconectadas p {
    text-align: center;
  }
  body .gridcontainer .actividades .imagenesconectadas .textoimagen {
    width: 250px;
  }
  .navpag {
    padding: 5px;
  }
  .navpag ul {
    margin-bottom: 0px;
    align-items: center;
  }
  .navpag ul .linkpag {
    display: inline-block;
    padding: 2px;
  }
  .navpag ul .linkdark {
    margin: 0px;
    padding: 6px;
  }
  .principal {
    font-size: 22px;
  }
  .principal p {
    width: 100%;
  }
  .fotoaliment {
    height: 250px;
  }
  .fotoaliment .contenido-fotofondoaliment {
    width: 90%;
    padding: 10px 0;
  }
  .fotoaliment .contenido-fotofondoaliment .colorblanco {
    font-size: 1.3rem;
  }
  .gallerycontainer {
    width: 100%;
    grid-template-columns: repeat(5, 130px);
    grid-template-rows: repeat(3, 190px);
    gap: 7px 7px;
    grid-template-areas: "imagenuno imagenuno imagendos imagendos imagendos" "imagentres imagentres imagenseis imagencinco imagencinco" "imagentres imagentres imagenseis imagencuatro imagencuatro";
  }
  .gallerycontainer .imagencuatro {
    background-position: center;
  }
  .imagenestexto {
    margin-left: 35px;
  }
  .imagenestexto img {
    width: 230px;
    padding: 10px;
  }
  .contenidopagina {
    font-size: 16px;
  }
  .contactoimg .img-fluidno {
    height: 230px;
  }
  .contactoimg .img-fluid {
    height: 230px;
  }
  .contactoimg {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .contactoimg img {
    border-radius: 10px;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  .contactoimg img:hover {
    transform: scale(1.08, 1.08);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
