.encabezado__titulo{
    font-weight: 300;
}
.navbar-brand{
    width: 200px;
}

.row{
    margin: auto;
    display: flex;
    justify-content: center;
    .card{
        width: 18rem;
        margin: 20px;
        img{
            padding: 8px;
        }
        .btn{
            background-color: #F28482;
            color: #f6efe7;
        }
    }
}

