/* TamaÃ±o mobile 480px */
@media (max-width: 480px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .logo{
            width: 80px;
            padding: 2px;
        }
    } 

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    body{
        font-size: 1rem;
        .gridcontainer{
            .fotofondo{
                height: 200px;
                .contenido-fotofondo{
                    width: 90%;
                    padding: 8px;
                    top: 60px;
                    .colorblanco {
                        font-weight: 300;
                        font-size: 18px;
                    }
                }
            }
            .actividades{
                .imagenesconectadas{
                    .textoimagen{
                        width: 90vw;
                    }
                }
            }
        }
    }
    
    
    .navpag ul{
        flex-direction: column;
        align-items: center;
    }

    footer{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        img{
            display: none;
         }
    }

    .navbar-brand{
        width: 120px;
    }
    
    .gallerycontainer{
        display: grid;
        grid-template-columns: 1.1fr;
        grid-template-rows: repeat(6,200px);
        gap: 10px 5px;
        grid-template-areas: 
        'imagenuno'
        'imagendos'
        'imagenseis'
        'imagencuatro'
        'imagencinco'
        'imagentres';
        justify-content: center;
        padding: 15px;
        .imagenuno{
            background-size: fill;
        }
        .imagendos{
            background-size: contain;
        }
        .imagentres{
            background-size: cover;
        }
        .imagencuatro{
            background-size: cover;
        }
        .imagencinco{
            background-size: cover;
        }
        .imagenseis{
            background-size: cover;
        }
    }

    .contenidopagina{
        text-align: start;
        font-size: 15px;
        margin: 15px;
        ul{
            margin-left: 0px;
        }
    }

    .imagenestexto{
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 0;
        .nosemuestrachico{
            display: none;
        }
    }

    .fotoaliment{
        height: 200px;
        .contenido-fotofondoaliment {
            width: 90%;
            padding: 8px;
            top: 60px;
            .colorblanco {
                font-weight: 100;
                font-size: 18px;
            }
        }
    }

    .carousel{
        align-items: center;
    }
    
    .tips{
        margin: 0;
        width: 100%;
        display: block;
        .card {
            padding: 0;
            width: auto;
            height:auto;
            .card-title{
                font-size: 25px;
            }
        }
    }
    .contactoimg{
        flex-direction: column;
    }

    .img-fluidno{
        display: none;
    }
}

/* TamaÃ±o mobile 768px */
@media (min-width: 481px) and (max-width: 768px) {

    body{
        font-size: 0.9rem;
        .gridcontainer{
            div{
                margin: 15px;
            }
            .header{
                .header__logo{
                    width: 90px;
                }
            }
            .fotofondo{
                height: 270px;
                .contenido-fotofondo{
                    top: 100px;
                    padding: 20px 0
                }
            }
            .actividades{
                .imagenesconectadas{
                    margin: 5px 5px;
                    .img{
                        max-width: 250px
                    }
                    p{
                        text-align: center;
                    }
                    .textoimagen{
                        width: 250px;
                    }
                }
            }
            
        }
    }
    .navpag{
        padding: 5px;
        ul{
            margin-bottom: 0px;
            align-items: center;
            .link{
                display: inline-block;
                padding: 2px;
            }
            .linkdark{
                margin: 0px;
                padding: 6px;
            }
        }
    }
    .fotoaliment{
        height: 250px;
        .contenido-fotofondoaliment {
            width: 90%;
            padding: 10px 0;
            .colorblanco {
                font-size: 1.3rem;
            }
        }
    }
    .gallerycontainer{
        width: 100%;
        grid-template-columns: repeat(5, 130px);
        grid-template-rows: repeat(3, 190px);
        gap:7px 7px;
        grid-template-areas: 'imagenuno imagenuno imagendos imagendos imagendos'
                        'imagentres imagentres imagenseis imagencinco imagencinco'
                        'imagentres imagentres imagenseis imagencuatro imagencuatro';
        .imagencuatro{
            background-position: center;
        }
    }
    .imagenestexto{
        margin-left: 35px;
        img{
            width: 230px;
            padding: 10px;
        }

    }
    .contenidopagina{
        font-size: 16px;
    }
    .contactoimg{
        .img-fluidno{
            height: 230px;
        }
        .img-fluid{
            height: 230px;
        } 
    }
    .contactoimg{
        width: 98%;
        @include flexjc(flex, row, space-around);
        img {
            border-radius: 10px;
            opacity: 0.8;
            filter:alpha(opacity=80);
    
            &:hover{
                transform: scale(1.08,1.08);
            }
        }
    }
}
