ol, ul {
    padding-left: 0;
}
.carousel{
    margin: 10px;
}
.tips{
    margin: auto;
    @include flexjc(flex, row, center);
    .card {
        margin: 20px;
        padding: 10px;
        width: 28rem;
        height: auto;
        .card-title{
            font-size: 25px;
            color: $colorTexto;
        }
        .linkcomentarios{
            text-decoration: none;
            color: $colorSalmon;
        }
    }
}