@import "variables";
@import "mixin";
@import "generales";
@import "index";
@import "alimentacion";
@import "comentarios";
@import "contacto";
@import "generales";
@import "saludmental";
@import "ejerciciofisico";
@import "mediaqueries";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
